CONFIG VCCAUX = "3.3";
#-------------------------------------------------------------------------------
# Clock and reset
#
NET "clock"       LOC = J1 | IOSTANDARD = LVCMOS33;
NET "reset_N"     LOC = D5 | PULLUP | IOSTANDARD = LVCMOS33;

NET "ADC_SCLK"		LOC = B18 | IOSTANDARD = LVCMOS33;
NET "ADC_SDO"		LOC = H14 | IOSTANDARD = LVCMOS33;
NET "ADC_CS"		LOC = F15 | IOSTANDARD = LVCMOS33;
NET "USB_TX"		LOC = Y2 | IOSTANDARD = LVCMOS33;
NET "USB_RX"		LOC = W1 | IOSTANDARD = LVCMOS33;
NET "BP_PWMA"		LOC = H21 | IOSTANDARD = LVCMOS33;
NET "BP_PWMB"		LOC = J22 | IOSTANDARD = LVCMOS33;
NET "D"				LOC = B1 | PULLUP | IOSTANDARD = LVCMOS33;
NET "Q"				LOC = E4 | IOSTANDARD = LVCMOS33;
NET "Q1"				LOC = E5 | IOSTANDARD = LVCMOS33;
NET "DAC_SCLK"		LOC = AB19 | IOSTANDARD = LVCMOS33;
NET "DAC_SDO"		LOC = AB16 | IOSTANDARD = LVCMOS33;
NET "DAC_SYNC"		LOC = AB17 | IOSTANDARD = LVCMOS33;