//! **************************************************************************
// Written by: Map P.20131013 on Thu Jul 15 16:21:39 2021
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "D" LOCATE = SITE "P20" LEVEL 1;
COMP "Q" LOCATE = SITE "M18" LEVEL 1;
COMP "Q1" LOCATE = SITE "M17" LEVEL 1;
COMP "clock" LOCATE = SITE "L19" LEVEL 1;
COMP "reset_N" LOCATE = SITE "L15" LEVEL 1;
COMP "ADC_CS" LOCATE = SITE "C11" LEVEL 1;
COMP "USB_RX" LOCATE = SITE "U19" LEVEL 1;
COMP "USB_TX" LOCATE = SITE "V20" LEVEL 1;
COMP "ADC_SCLK" LOCATE = SITE "AB3" LEVEL 1;
COMP "DAC_SCLK" LOCATE = SITE "F16" LEVEL 1;
COMP "DAC_SYNC" LOCATE = SITE "D17" LEVEL 1;
COMP "ADC_SDO" LOCATE = SITE "A5" LEVEL 1;
COMP "DAC_SDO" LOCATE = SITE "B21" LEVEL 1;
COMP "BP_PWMA" LOCATE = SITE "Y2" LEVEL 1;
COMP "BP_PWMB" LOCATE = SITE "Y1" LEVEL 1;
SCHEMATIC END;

