//! **************************************************************************
// Written by: Map P.20131013 on Fri Jul 23 10:48:53 2021
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "D" LOCATE = SITE "B1" LEVEL 1;
COMP "Q" LOCATE = SITE "E4" LEVEL 1;
COMP "Q1" LOCATE = SITE "E5" LEVEL 1;
COMP "clock" LOCATE = SITE "J1" LEVEL 1;
COMP "reset_N" LOCATE = SITE "D5" LEVEL 1;
COMP "ADC_CS" LOCATE = SITE "F15" LEVEL 1;
COMP "USB_RX" LOCATE = SITE "W1" LEVEL 1;
COMP "USB_TX" LOCATE = SITE "Y2" LEVEL 1;
COMP "ADC_SCLK" LOCATE = SITE "B18" LEVEL 1;
COMP "DAC_SCLK" LOCATE = SITE "AB19" LEVEL 1;
COMP "DAC_SYNC" LOCATE = SITE "AB17" LEVEL 1;
COMP "ADC_SDO" LOCATE = SITE "H14" LEVEL 1;
COMP "DAC_SDO" LOCATE = SITE "AB16" LEVEL 1;
COMP "BP_PWMA" LOCATE = SITE "H21" LEVEL 1;
COMP "BP_PWMB" LOCATE = SITE "J22" LEVEL 1;
SCHEMATIC END;

